.reveal section .plain {
  background: none;
  border: none;
  box-shadow: none;
}

.reveal kbd {
  background: #eee;
  color: black;
  display: inline-block;
  padding: 0.2em 0.4em;
  margin-top: -0.1em;
  vertical-align: baseline;
  border: 1px solid #ccc;
  border-radius: 0.2em;
  line-height: 1em;
}
